
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12"> <br><br>
                <h1 class="text-center mb-4 mt-4 text-white"style="font-size: 50px; font-weight: bold;">Comprehensive Driving Lessons for<br> Every Need</h1>
                <h5 class="text-center text-white mb-5"> We offer a wide range of lessons designed to meet your unique requirements: </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4"> 
                    <img src="<%= asset_path('5.1.png') %>" alt="Driving Icon" class="pic-media">
                    <div class="card-body"> 
                        <h6 class="card-title">2hrs Manual Lesson</h6>
                        <h5 class="price-text">- £90</h5>
                        <p class="card-text" style="font-size: small;">Ideal for beginners taking their first steps into Manual/Automatic driving or for those who need a quick refresher.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4"> 
                    <img src="<%= asset_path('5.2.png') %>" alt="Driving Icon" class="pic-media">
                    <div class="card-body"> 
                        <h6 class="card-title">10Hrs Manual Lessons</h6>
                        <h5 class="price-text">- £450</h5>
                        <p class="card-text" style="font-size: small;">This package is perfect for new learners or those building their skills over time.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4"> 
                    <img src="<%= asset_path('5.3.png') %>" alt="Driving Icon" class="pic-media">
                    <div class="card-body"> 
                        <h6 class="card-title">Post-Test Manual Lesson (2Hrs)</h6>
                        <h5 class="price-text">- £100</h5>
                        <p class="card-text" style="font-size: small;">These two hours will refine your driving and set you up for real-world success.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4"> 
                    <img src="<%= asset_path('5.4.png') %>" alt="Driving Icon" class="pic-media">
                    <div class="card-body"> 
                        <h6 class="card-title">2Hrs Motorway Lesson</h6>
                        <h5 class="price-text">- £150</h5>
                        <p class="card-text" style="font-size: small;">Learn lane discipline, safe overtaking, and motorway essentials to drive with ease.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4"> 
                    <img src="<%= asset_path('5.5.png') %>" alt="Driving Icon" class="pic-media">
                    <div class="card-body"> 
                        <h6 class="card-title">6Hrs Pass Plus</h6>
                        <h5 class="price-text">- £420</h5>
                        <p class="card-text" style="font-size: small;">Master advanced driving in motorways, night conditions, and bad weather while potentially lowering insurance costs.</p>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card mb-4"> 
                    <img src="<%= asset_path('5.6.png') %>" alt="Driving Icon" class="pic-media">
                    <div class="card-body"> 
                        <h6 class="card-title">5-Day Intensive Course</h6>
                        <h5 class="price-text">- £1500</h5>
                        <p class="card-text" style="font-size: small;">Designed for busy schedules, this 5-day course combines lessons and test prep to help you pass with confidence.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
        <a href="/book_session" class="btn-custom">Book Session Now</a>
        </div><br><br><br>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>