<!DOCTYPE html>
<html>
  <head>
    <title>DrivingSchool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %> <!-- Render the header here -->
    
    <% if flash[:success] %>
      <div class="alert alert-success text-center">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= yield %> <!-- Main content goes here -->
  </body>
</html>
