<!DOCTYPE html>
<html>
  <head>
    <title>DrivingSchool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %> <!-- Render the header here -->
    
    
    <% if flash[:notice] %>
    <div class="flash notice">
    <%= flash[:notice] %>
    </div>
    <% end %>
    
    <% if flash[:alert] %>
    <div class="flash alert">
    <%= flash[:alert] %>
    </div>
    <% end %>
    <%= yield %> <!-- Main content goes here -->

  </body>
</html>
